/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body,
div,
span,
i,
ul,
li,
label,
footer,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.w-100{
    width: 100%;
  }

.h-100{
    height: 100%;
}
  
  .w-50{
    width: 50%;
  }
  
  .flex{
    display: flex;
  }
  
  .flex-column{
    flex-direction: column;
  }
  
  .items-center{
    align-items: center;
  }
  
  .justify-center{
    justify-content: center;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
