<div class="home-container">
  <div class="flex justify-center">
    <h1>Gutenberge Project</h1>
  </div>
    <ul class="categories">
        <li [routerLink]="['./landing','FICTION']">
          <div class="title">FICTION</div>
          <img src="../../assets/drawable-hdpi/ic_right_arrow.png">
        </li>
        <li [routerLink]="['./landing','DRAMA']">
          <div class="title">DRAMA</div>
          <img src="../../assets/drawable-hdpi/ic_right_arrow.png">
        </li>
        <li [routerLink]="['./landing','HUMOR']">
          <div class="title">HUMOR</div>
          <img src="../../assets/drawable-hdpi/ic_right_arrow.png">
        </li>
        <li [routerLink]="['./landing','POLITICS']">
          <div class="title">POLITICS</div>
          <img src="../../assets/drawable-hdpi/ic_right_arrow.png">
        </li>
        <li [routerLink]="['./landing','PHILOSOPHY']">
          <div class="title">PHILOSOPHY</div>
          <img src="../../assets/drawable-hdpi/ic_right_arrow.png">
        </li>
        <li [routerLink]="['./landing','HISTORY']">
          <div class="title">HISTORY</div>
          <img src="../../assets/drawable-hdpi/ic_right_arrow.png">
        </li>
        <li [routerLink]="['./landing','ADVENTURE']">
          <div class="title">ADVENTURE</div>
          <img src="../../assets/drawable-hdpi/ic_right_arrow.png">
        </li>
    </ul> 
</div>
 

